In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('db.sqlite3')

In [3]:
conn = sqlite3.connect('db.sqlite3')

In [4]:
cursor.execute('create table flight_info (flight_no varchar(20) primary key, destination varchar(20), leaving_date date, boarding_time time, terminal varchar(20), number_of_passengers int, status varchar(20))')

In [12]:
cursor.execute('insert into flight_info (flight_no, destination, leaving_date, boarding_time, terminal, number_of_passengers, status) values(\'UA203\', \'Seattle\', \'2018-05-15\', \'12:30:00\', \'T1-A1\', 500, \'On Time\' )')

In [13]:
cursor.rowcount

1

In [14]:
cursor.execute('select * from flight_info')
values = cursor.fetchall()
values

[('UA203', 'Seattle', '2018-05-15', '12:30:00', 'T1-A1', 500, 'On Time')]

In [9]:
cursor.execute('delete from flight_info where flight_no = \'UA203\' ')

In [10]:
cursor.rowcount

1

In [15]:
cursor.close()
conn.commit()
conn.close()

In [2]:
conn = sqlite3.connect('db.sqlite3')
cursor = conn.cursor()

In [9]:
cursor.execute('create table aeroplane (plane_id varchar(20) primary key, plane_type varchar(20), max_volume int, company varchar(20))')

OperationalError: table aeroplane already exists

In [10]:
cursor.execute('insert into aeroplane (plane_id, plane_type, max_volume, company) values(\'AB101\', \'Small\', 100, \'Airbus\')')

In [11]:
cursor.execute('insert into aeroplane (plane_id, plane_type, max_volume, company) values(\'AB201\', \'Middle\', 200, \'Airbus\')')

In [12]:
cursor.execute('insert into aeroplane (plane_id, plane_type, max_volume, company) values(\'AB301\', \'Big\', 400, \'Airbus\')')

In [13]:
cursor.execute('select * from aeroplane')

In [14]:
cursor.fetchall()

[('AB101', 'Small', 100, 'Airbus'),
 ('AB201', 'Middle', 200, 'Airbus'),
 ('AB301', 'Big', 400, 'Airbus')]

In [16]:
cursor.execute('create table destination (airport_id varchar(20) primary key, city varchar(20), country varchar(20), state varchar(20), airport_name varchar(20))')

In [17]:
cursor.execute('insert into destination (airport_id, city, country, state, airport_name) values(\'NYC\', \'New York\', \'USA\', \'New York\', \'New York International Airport\')')

In [19]:
cursor.execute('insert into destination (airport_id, city, country, state, airport_name) values(\'WAS\', \'Seattle\', \'USA\', \'Washington\', \'Seattle International Airport\')')

In [21]:
cursor.execute('insert into destination (airport_id, city, country, state, airport_name) values(\'BOS\', \'Boston\', \'USA\', \'Massachusetts\', \'Boston International Airport\')')

In [22]:
cursor.execute('insert into destination (airport_id, city, country, state, airport_name) values(\'SAF\', \'San Francisco\', \'USA\', \'California\', \'San Francisco International Airport\')')

In [23]:
cursor.execute('insert into destination (airport_id, city, country, state, airport_name) values(\'SDE\', \'San Diego\', \'USA\', \'California\', \'San Diego International Airport\')')

In [24]:
cursor.execute('select * from destination')
cursor.fetchall()

[('NYC', 'New York', 'USA', 'New York', 'New York International Airport'),
 ('WAS', 'Seattle', 'USA', 'Washington', 'Seattle International Airport'),
 ('BOS', 'Boston', 'USA', 'Massachusetts', 'Boston International Airport'),
 ('SAF',
  'San Francisco',
  'USA',
  'California',
  'San Francisco International Airport'),
 ('SDE', 'San Diego', 'USA', 'California', 'San Diego International Airport')]

In [25]:
cursor.execute('create table passenger (id varchar(20), gender varchar(20), name varchar(20), seat_no, nationality varchar(20), flight_no varchar(20))')

In [36]:
cursor.execute('drop table passenger')

In [37]:
cursor.execute('create table passenger (id varchar(20), gender varchar(20), name varchar(20), seat_no, nationality varchar(20), flight_no varchar(20))')

In [44]:
cursor.execute("insert into passenger (id, gender, name, seat_no, nationality, flight_no) values ('001', 'male', 'David', 'A001', 'USA', 'QR203')")

In [45]:
cursor.execute("insert into passenger (id, gender, name, seat_no, nationality, flight_no) values ('002', 'female', 'Mia', 'A002', 'USA', 'QR203')")
cursor.execute("insert into passenger (id, gender, name, seat_no, nationality, flight_no) values ('003', 'female', 'Julia', 'A003', 'USA', 'QR303')")
cursor.execute("insert into passenger (id, gender, name, seat_no, nationality, flight_no) values ('004', 'male', 'Jack', 'A004', 'UK', 'QR303')")
cursor.execute("insert into passenger (id, gender, name, seat_no, nationality, flight_no) values ('005', 'female', 'Lily', 'A005', 'UK', 'QR303')")
cursor.execute("insert into passenger (id, gender, name, seat_no, nationality, flight_no) values ('006', 'male', 'Adam', 'A006', 'USA', 'QR203')")
cursor.execute("insert into passenger (id, gender, name, seat_no, nationality, flight_no) values ('007', 'female', 'Andria', 'A007', 'USA', 'QR203')")
cursor.execute("insert into passenger (id, gender, name, seat_no, nationality, flight_no) values ('008', 'male', 'Kim', 'A008', 'UK', 'QR203')")

In [46]:
cursor.execute("select nationality, count(id) from passenger group by nationality;")
cursor.fetchall()

[('UK', 3), ('USA', 5)]