In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('db.sqlite3')

In [3]:
cursor = conn.cursor()

In [4]:
cursor.execute('create table flight_info (flight_no varchar(20) primary key, destination varchar(20), leaving_date date, boarding_time time, terminal varchar(20), number_of_passengers int, status varchar(20))')

In [12]:
cursor.execute('insert into flight_info (flight_no, destination, leaving_date, boarding_time, terminal, number_of_passengers, status) values(\'UA203\', \'Seattle\', \'2018-05-15\', \'12:30:00\', \'T1-A1\', 500, \'On Time\' )')

In [13]:
cursor.rowcount

1

In [14]:
cursor.execute('select * from flight_info')
values = cursor.fetchall()
values

[('UA203', 'Seattle', '2018-05-15', '12:30:00', 'T1-A1', 500, 'On Time')]

In [9]:
cursor.execute('delete from flight_info where flight_no = \'UA203\' ')

In [10]:
cursor.rowcount

1

In [15]:
cursor.close()
conn.commit()
conn.close()